/* .activitybg::before
{
    background-image: url("../images/activity_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 110vh;
    z-index: -1;
    opacity: 0.3;
} */

/* Activity Page CSS */
.main_activity
{
    /* border:solid; */
    /* width:88vw; */
    margin:2vh auto;
    text-align: center;
    font-family: 'Domine', serif;
}
.main_activity h1
{
    width:86vw;
    margin: auto;
    padding: 5vh 0vw;
    background-color: rgba(240, 248, 255,0.5);
    border-radius: 10px;
    border: solid darkblue;
}


.left_activity
{
    border: solid;
}

.right_calorie
{
    border: solid;
}


.main_activity h2
{
    padding: 5vh 0vw;
    /* text-decoration: underline; */
}
.form_fields
{
    /* border:solid; */
    padding:2vh 0vw 4vh 0vw;
}
.form_fields .form-group
{
    /* border:solid; */
    border: none;
    padding:2vh 0vw 4vh 0vw;
}

.form_fields label
{
    font-size: 1.4em;
    font-weight: 600;
}