@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

/* Css variables */
:root
{
  /* --nav_bg_color:rgba(230, 69, 0, 0.9); */
  --nav_expand_bg_color:linear-gradient(to top right, rgb(255, 165, 0, 0.9), rgb(0, 255, 255, 0.9));
  --nav_bg_color:linear-gradient(to bottom right, rgb(255, 165, 0, 0.9), rgb(0, 255, 255, 0.9));
  --nav_txt_color: rgba(32, 38, 54,1);
  --search_txt_color: rgba(82, 88, 114,0.9);
  --nav_hover_color: black;
}

nav
{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width:100%;
    padding: 0 100px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--nav_txt_color);
}

nav .logo
{
  font-family: 'Merienda One', cursive;
  font-size: 1.5rem;
}

nav .logo a
{
  text-decoration: none;
  color:var(--nav_txt_color);;
}

nav .logo a:hover
{
  text-decoration: none;
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li
{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a
{
  color:var(--nav_txt_color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
nav .nav-items li a:hover
{
  color: var(--nav_hover_color);
}

nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: rgba(255, 255, 255,0.8);
  min-width: 18%!important;
  border-radius: 2px;
  border: 2px solid var(--nav_txt_color);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: var(--search_txt_color);
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: var(--nav_txt_color);
  font-size: 17px;
  background: rgb(255, 69, 0);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: rgb(245, 0, 0);
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: var(--nav_txt_color);
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
    background: var(--nav_bg_color);
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 65px;
    width: 320px;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background:  var(--nav_expand_bg_color);
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: transparent;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background:transparent;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}

@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}