/* Activity Page CSS */
.main_activity
{
    text-align: center;
    font-family: 'Domine', serif;
}
.main_activity h1
{
    width:86vw;
    position:fixed;
    left:7vw;
    top:10vh;
    padding: 5vh 0vw;
    background-color: rgba(240, 248, 255,0.7);
    border-radius: 10px;
    border: solid darkblue;
    z-index:9;
}

.left_activity::before
{
    background-image: url("../images/activity_left_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 110vh;
    z-index: -1;
    opacity: 0.5;
    filter: blur(1px);
  -webkit-filter: blur(1px);
} 
.left_activity
{
    padding-top: 28vh;
}

.right_calorie::before
{
    background-image: url("../images/activity_right_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 110vh;
    z-index: -1;
    opacity: 0.5;
    filter: blur(1px);
  -webkit-filter: blur(1px);
} 
.right_calorie
{
    padding-top: 28vh;
    
}

.main_activity h2
{
    padding: 5vh 0vw;
    /* font-weight: 600; */
    /* text-decoration: underline; */
}
.form_fields
{
    /* border:solid; */
    padding:2vh 5vw 4vh 5vw;
}
.form_fields .form-group
{
    /* border:solid; */
    border: none;
    padding:2vh 0vw 2vh 0vw;
}

.form_fields label
{
    font-size: 1.4em;
    font-weight: 600;
}