/* Common CSS */
html
{
    scroll-behavior: smooth;
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* border: solid; */
}
.homebg::before
{
    background-image: url("../images/main_bg.jpg");
    /* url('../images/main_bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.activitybg::before
{
    background-image: url("../images/welcome_bg.jpg");
    /* url('../images/main_bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 110vh;
    z-index: -1;
    opacity: 0.3;
}

/* Navbar */
#main_navbar
{
    background-color: transparent;
    width:92vw;
    margin:0vh auto;
}
#main_navbar .navbar-brand
{
    font-family: 'Merienda One', cursive;
    font-size: 2rem;
}
#main_navbar .navbar-nav
{
    /* font-family: 'Merienda One', cursive; */
    font-size: 1.1rem;
    font-weight: 700;
}
#main_navbar .navbar-nav button
{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(0,0,0,.5);
}
#main_navbar .navbar-nav button:hover
{
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0,0,0,.7);
}
#main_navbar .navbar-nav button:visited
{
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0,0,0,.7);
}

/* Landing Page CSS */
.main_section .jumbotron
{
    background: none;
    font-family: 'Merienda One', cursive;
    text-align: center;
    /* border: solid; */
    margin:0vh 0vw;
    padding:26vh 15vw;
    height:90vh;
}
.main_section .jumbotron h1
{
    font-size: 2.7em;
}
.main_section .jumbotron p
{
    font-size: 2em;
}


#features_section .feature
{
    height:90vh;
    padding:2vh 0vw;
    width:100%;
    margin: auto;
    /* border: solid; */
}
#features_section .feature_image_odd
{
    /* border: solid; */
    padding:8vh 5vw 8vh 2vw;
}
#features_section .feature_image_even
{
    /* border: solid; */
    padding:8vh 0vw 8vh 7vw;
}
#features_section .jumbotron
{
    background: none;
    font-family: 'Domine', serif;
    text-align: center;
    /* border: solid; */
}
#features_section .jumbotron h2
{
    padding: 10vh 2vw;
    font-size: 2.5em;
}
#features_section .jumbotron p
{
    font-size: 1.2em;
    padding:0vh 1vw;
}


/* Contact Section */
#contact_section
{
    border: solid;
    text-align: center;
    font-family: 'Domine', serif;
    padding:5vh 8vw;
    background-color: rgb(32, 32, 56);
    color: rgb(230, 230, 230);
}
#contact_section h2
{
    font-weight: 600;
    font-size: 2.2em;
    margin:5vh 0vh;
}
#contact_section .contact_section_para
{
    font-size: 1.5em;
    margin-bottom: 6vh;
}
#contact_section .contact_icon_description
{
    font-size: 1.2em;
    margin: 3vh 1vw 6vh 1vw;
    text-align: center;
    /* border: solid; */
}
#contact_section .contact_icon_description a
{
    text-decoration: none;
    color:inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Profile Page CSS */
#main_profile
{
    width:88vw;
    padding:5vh 0vh;
    margin:0vh auto;
}
#profile_head
{
    padding-top:8vh;
    background-color: aliceblue;
    border-radius: 10px;
}

#profile_image img
{
    display:block; 
    height:26vh; 
    width: 12vw; 
    margin:0vh auto;
    border: solid;
    border-radius: 5px;
}
#profile_head button
{
    margin:2vh 0vw;
}
#profile_body
{
    width:88vw;
    margin:2vh auto;
}
#profile_body #left_profile_section
{
    padding:2vh 2vw 2vh 1vw;
    /* border:solid; */
}
#profile_body #left_profile_section div
{
    /* border:solid; */
    background-color: aliceblue;
    padding: 3vh 2vw;
}
#profile_body #left_profile_section h3
{
    font-size: 1.5em;
    font-weight: 600;
    margin:2vh 0vw;
    color: rgb(69, 69, 69);
}
#profile_body label
{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(69, 69, 69);
}
#profile_body input
{
    font-size: 1.3em;
}


/* Activity Page CSS */
.main_activity
{
    /* border:solid; */
    width:88vw;
    margin:2vh auto;
    text-align: center;
    font-family: 'Domine', serif;
}
.main_activity h1
{
    padding: 5vh 0vw;
    background-color: rgba(240, 248, 255,0.5);
    border-radius: 10px;
    border: solid darkblue;
}
.main_activity h2
{
    padding: 5vh 0vw;
    /* text-decoration: underline; */
}
.form_fields
{
    /* border:solid; */
    padding:2vh 3vw 4vh 1vw;
}
.form_fields label
{
    font-size: 1.5em;
    font-weight: 600;
}



/* For Responsiveness */
@media only screen and (max-width: 992px)
{
    .navbar-nav
    {
        position: absolute;
    }
    #main_navbar .navbar-nav button
    {
        margin-left:-1.5vw;
    }
    .main_section .jumbotron h1
    {
        font-size: 2.5em;
    }
    .main_section .jumbotron p
    {
        font-size: 1.8em;
    }
    #features_section
    {
        padding-bottom: 5vh;
    }
    #features_section .feature
    {
        display: flex;
        height:160vh;
        padding:0vh 0vw;
    }
    #features_section #feature_text
    {
        order:-1;
    }
    #features_section .feature_image_odd
    {
        /* border: solid; */
        padding:0vh 0vw 0vh 4vw;
    }
    #features_section .feature_image_even
    {
        /* border: solid; */
        padding:0vh 0vw 0vh 4vw;
    }
}
@media only screen and (max-width: 576px)
{
    #main_navbar .navbar-nav button
    {
        margin-left:-2.5vw;
    }
    .main_section .jumbotron
    {
        padding:22vh 10vw;
    }
    .main_section .jumbotron h1
    {
        font-size: 2.3em;
    }
    .main_section .jumbotron p
    {
        font-size: 1.7em;
    }
    #features_section .feature_image_odd
    {
        /* border: solid; */
        padding:8vh 0vw 8vh 6vw;
    }
    #features_section .feature_image_even
    {
        /* border: solid; */
        padding:8vh 0vw 8vh 6vw;
    }
}