{% autoescape off %}
Hi! Dear {{name}},

This is a confirmation mail regarding your Fit N' Fine account.
Your profile as a 'fitness enthusiast' has been created successfully, you can edit and build you profile anytime as per your preferences.

Before getting started, you need to verify your account by clicking on the verification link given below.

{{ domain }}{% url 'activate' uidb64=uid token=token %}

Thanks to be a part of our fitness community.

Regards,
Fit N' Fine Team
{% endautoescape %}