{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    {% include 'main_app/common_meta.html' %}

    <!-- Link or CSS Tags -->
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'user_app/css/calorie-tracker_style.css' %}">
    <title>Fit N' Fine</title>

</head>
<body>

    <!-- Check If user is logged in or not -->
    {% include 'main_app/user_redirect.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Activity Secttion -->
    <section class="main_activity">
        <section>
            <h1>Activity and Calorie Tracker</h1>
        </section>
        <section class="row">
            <section class="left_activity col-lg-6">
                <h2>Enter Today's Activity</h2>
                <form class="form_fields">
                    <div class="form-group row">
                        <label for="inputXYZ" class="col-sm-5 col-form-label">Jogging Time:</label>
                        <div class="col-sm-7">
                        <input type="" class="form-control" id="inputXYZ" placeholder="Time in Minutes"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputXYZ" class="col-sm-5 col-form-label">Jogging Time:</label>
                        <div class="col-sm-7">
                        <input type="" class="form-control" id="inputXYZ" placeholder="Time in Minutes"/>
                        </div>
                    </div>
                </form>
            </section>

            <section class="right_calorie col-lg-6">
                <h2>Enter Today's Calorie Intake</h2>
                <form class="form_fields">
                    <div class="form-group row">
                        <label for="inputXYZ" class="col-sm-5 col-form-label">Jogging Time:</label>
                        <div class="col-sm-7">
                        <input type="" class="form-control" id="inputXYZ" placeholder="Time in Minutes"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputXYZ" class="col-sm-5 col-form-label">Jogging Time:</label>
                        <div class="col-sm-7">
                        <input type="" class="form-control" id="inputXYZ" placeholder="Time in Minutes"/>
                        </div>
                    </div>
                    
                </form>
            </section>
        </section>
    </section>

    <!-- Footer -->
    {% include 'main_app/footer.html' %}

    <!-- JavaScript -->
    {% include 'main_app/common_js.html' %}
</body>
</html> 