<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Heaven for Fitness Enthusiasts, Fit N' Fine is a platform that tracks your diet, exercise habits and provides a community of fitness enthusiasts, health instructors, physicians and dieticians.">
<meta name="keywords" content="Fit, Fit N Fine, Fit N' Fine, Fine, Health, Fitness, Stay Fit, Fitness Community, Calorie Tracker, Exersise Tracker, Activity Tracker, Fitness Enthusiast, Fitness Platform">
<meta name="robots" content="INDEX, FOLLOW">