{% load static %}
<footer>
    <section id="contact_section">
        <h2>Contact Us</h2>
        <div class="contact_section_para">Connect With Us On Social Media Platforms And Be A Part Of Fitness Community. In Case You Are Facing Any Issues Or Want To Give Us Any Feedback, Feel Free To Mail Us And We Will Get Back To You As Soon As Possible!</div>
        <div class="row d-flex justify-content-around">
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 contact_icon">
                <i class="fas fa-envelope fa-2x"></i>
                <div class="contact_icon_description"><a class="d-block" href="mailto:fitnfineapp@gmail.com">fitnfineapp@gmail.com</a></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 contact_icon">
                <i class="fab fa-facebook-f fa-2x"></i>
                <div class="contact_icon_description"><a class="d-block" href="https://www.facebook.com/fitnfineapp/">facebook.com/fitnfineapp/</a></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 contact_icon">
                <i class="fab fa-twitter fa-2x"></i>
                <div class="contact_icon_description"><a class="d-block" href="https://www.twitter.com/fitnfineapp/">twitter.com/fitnfineapp/</a></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 contact_icon">
                <i class="fas fa-comment fa-2x"></i>
                <div class="contact_icon_description"><a class="d-block" href="https://www.fitnfine.app/discuss">fitnfine.app/discuss</a></div>
            </div> 
        </div>
    </section>
</footer>