{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Background -->
    <header class="homebg"></header>

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <!-- Main Section -->
    <section class="main_section">
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-4">"The Journey Of A Thousand Miles Begins With A Single Step."</h1>
              <p>- Lao Tzu</p>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features_section">

        <section class="feature row justify-content-evenly">
            <div class="col-12 col-lg-6 row feature_image_odd">
                <img src="{% static 'main_app/images/section_img.jpg' %}" class="img-fluid" alt="Fitness"/>
            </div>
            <div id="feature_text" class="col-12 col-lg-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h2>What Fit N' Fine Is All About?</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature row justify-content-evenly">
            <div id="feature_text" class="col-12 col-lg-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h2>Set Goals And Keep Track Of Your Progress</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 row feature_image_even">
                <!-- <img src="./images/section_img2.jpg" class="img-fluid" alt="Goals"/> -->
                <img src="{% static 'main_app/images/section_img2.jpg' %}" class="img-fluid" alt="Goals"/>
            </div>
        </section>
        <section class="feature row justify-content-evenly">
            <div class="col-12 col-lg-6 row feature_image_odd">
                <!-- <img src="./images/section_img3.jpg" class="img-fluid" alt="Food"/> -->
                <img src="{% static 'main_app/images/section_img3.jpg' %}" class="img-fluid" alt="Food"/>
            </div>
            <div id="feature_text" class="col-12 col-lg-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h2>Keep Track Of Calories</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature row justify-content-evenly">
            <div id="feature_text" class="col-12 col-lg-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h2>Complete Daily Tasks and Earn Badges</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 row feature_image_even">
                <!-- <img src="./images/section_img4.jpg" class="img-fluid" alt="Daily Tasks"/> -->
                <img src="{% static 'main_app/images/section_img4.jpg' %}" class="img-fluid" alt="Daily Taks"/>
            </div>
        </section>
    </section>

    {% include 'main_app/contact_us.html' %}

    <script>
        let main_heading=document.querySelector(".main_section h1");
        let sub_heading=document.querySelector(".main_section p");
        nav_expanded=false;
        function displayMain()
        {
            main_heading.style.display="block";
            sub_heading.style.display="block";
            nav_expanded=true;
        }
        function navExpand()
        {
            if(nav_expanded==false)
            {
                main_heading.style.display="none";
                sub_heading.style.display="none";
                //after one second
                setTimeout(displayMain,350);
            }
            else
            {
                nav_expanded=false;
            }
        }
    </script>
{% endblock content %}