.main_page h2
{

	/* border:solid; */
    padding:2vh 0;
	line-height: 1.66;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 2.3em;
}

.modal-body .form-group
{
	border-bottom: 1.5px solid black;
	width:25vw;
	margin:2vh auto;
	text-align:left;
}

.modal-body .form_term
{
	border: none;
}

.main_page .txt_input
{
	text-rendering: auto;
    text-align: start;
	cursor: text;
    border-style: none;
    padding:0vh 2vw;
    width:23vw;
    height:5vh;
    background:rgba(0,0,0,0);
    font-size: 1.1em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.form_term
{
    border-style: none;
}

.main_page a
{
    color:darkblue;
    font-weight:600;
}

.modal-footer
{
    margin-bottom:2vh;
}
.footer_text
{
    /* border: solid; */
    padding-right:1vw;
    padding-top:2vh;
}
.footer_buttons button
{
    font-weight:600;
    border: 2px;
    font-size: 1.1em;
    padding:1vh 1vw 1vh 1vw;
}